/game/saves/
/game/log.txt
/game/traceback.txt
/game/errors.txt
/renpy/
/launcher/
/*.old
/*.new
/*.bak
/*.rpa
/*.rpyc
/renpy-*.zip
/renpy-*.tar.bz2
/renpy-*.dmg
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
/build/
/dist/
log.txt